<p-steps [model]="steps" [readonly]="true" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
<div>
    <form [formGroup]="form">
        <div *ngIf="activeIndex == 0" class="step-content">
            <div class="dialog-content">
                <div class="form-row">
                    <label for="">Data podpisania umowy:</label>
                    <p-datepicker formControlName="contractSignedAt" dateFormat="yy-mm-dd" placeholder="Wybierz datę" [invalid]="form.controls.contractSignedAt.invalid && form.controls.contractSignedAt.touched"></p-datepicker>
                </div>
                <div class="form-row">
                    <label for="">Data rozpoczęcia obsługi:</label>
                    <p-datepicker formControlName="serviceStartDate" dateFormat="yy-mm-dd" placeholder="Wybierz datę"[invalid]="form.controls.serviceStartDate.invalid && form.controls.serviceStartDate.touched"></p-datepicker>
                </div>
                <div class="form-row">
                    <label for="">Data zakończenia obsługi:</label>
                    <p-datepicker formControlName="serviceEndDate" dateFormat="yy-mm-dd" placeholder="Wybierz datę"[invalid]="form.controls.serviceEndDate.invalid && form.controls.serviceEndDate.touched"></p-datepicker>
                </div>
                <div class="form-row">
                    <label for="">Numer umowy:</label>
                    <input formControlName="contractNumber" [invalid]="form.controls.contractNumber.invalid && form.controls.contractNumber.touched" pInputText type="text" placeholder="Wpisz">
                </div>
                <div class="form-row">
                    <label for="">Umowa elektroniczna:</label>
                    <p-checkbox formControlName="electronicContract" [binary]="true"></p-checkbox>
                </div>
                <div class="form-row">
                    <label for="">Źródło pozyskania klienta:</label>
                    <p-select formControlName="leadSource" [options]="dictionaries().lead_source" optionLabel="label" optionValue="id" placeholder="Wybierz"></p-select>
                </div>
                <div class="form-row">
                    <label for="">Kwota abonamentu:</label>
                    <input formControlName="monthlyFee" [invalid]="form.controls.monthlyFee.invalid && form.controls.monthlyFee.touched" pInputText type="text" placeholder="Wpisz">
                </div>
                <div class="form-row">
                    <label for="">Termin płatności:</label>
                    <input formControlName="paymentDueDate" [invalid]="form.controls.paymentDueDate.invalid && form.controls.paymentDueDate.touched" pInputText type="text" placeholder="Wpisz">
                </div>
                <div class="form-row">
                    <label for="">Sposób płatności:</label>
                    <p-select formControlName="paymentMethod" [options]="dictionaries().payment_method" optionLabel="label" optionValue="id" [invalid]="form.controls.paymentMethod.invalid && form.controls.paymentMethod.touched" placeholder="Wybierz"></p-select>
                </div>
            </div>
        </div>
        <div *ngIf="activeIndex == 1" class="step-content">
            <section class="form-section">
                <div class="dialog-content">
                    <div class="form-row">
                        <label for="">Limit dokumentów:</label>
                        <input pInputText formControlName="documentsLimit" [invalid]="form.controls.documentsLimit.invalid && form.controls.documentsLimit.touched" type="text" placeholder="Wpisz">
                    </div>
                    <div class="services-types">
                        <div formGroupName="kpir" class="service-row">
                            <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                            <span class="service-name">KPiR</span>
                            <p-select formControlName="programId" [options]="dictionaries().accounting_program" optionLabel="label" optionValue="id" [invalid]="form.controls.kpir.controls.programId.invalid && form.controls.kpir.controls.programId.touched" placeholder="Wybierz"></p-select>
                        </div>
                        <div formGroupName="kh" class="service-row">
                            <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                            <span class="service-name">KH</span>
                        </div>
                        <div formGroupName="uepik" class="service-row">
                            <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                            <span class="service-name">UEPiK</span>
                        </div>
                        <div formGroupName="kadry" class="service-row">
                            <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                            <span class="service-name">Kadry</span>
                            <p-select formControlName="programId" [options]="dictionaries().accounting_program" optionLabel="label" optionValue="id" [invalid]="form.controls.kadry.controls.programId.invalid && form.controls.kadry.controls.programId.touched" placeholder="Wybierz"></p-select>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="activeIndex == 2" class="step-content">
            <div class="dialog-content">
                <div formGroupName="vatPayer" class="form-row-vat">
                    <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Czynny podatnik VAT</label>
                    <label for="">Data od</label>
                    <p-datepicker formControlName="dateFrom" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Data do</label>
                    <p-datepicker formControlName="dateTo" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                </div>
                <div formGroupName="vatUe" class="form-row-vat">
                    <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">VAT UE</label>
                    <label for="">Data od</label>
                    <p-datepicker formControlName="dateFrom" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Data do</label>
                    <p-datepicker formControlName="dateTo" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                </div>
                <div formGroupName="vatExemptSubject" class="form-row-vat">
                    <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Zwolnienie przedmiotowe VAT</label>
                </div>
                <div formGroupName="vatExemptEntity" class="form-row-vat">
                    <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Zwolnienie podmiotowe VAT</label>
                </div>
                <div formGroupName="vat9m" class="form-row-vat">
                    <p-checkbox formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">VAT 9M</label>
                </div>
                <div class="form-row">
                    <label for="">Podatek VAT:</label>
                    <p-select formControlName="vatPeriod" appendTo="body" [options]="dictionaries().settlement_frequency" optionLabel="label" optionValue="id" placeholder="Wybierz" [invalid]="form.controls.vatPeriod.invalid && form.controls.vatPeriod.touched"></p-select>
                </div>
                <div class="form-row">
                    <label for="">Podatek dochodowy</label>
                    <p-select formControlName="incomeTaxPeriod" appendTo="body" [options]="dictionaries().settlement_frequency" optionLabel="label" optionValue="id" placeholder="Wybierz" [invalid]="form.controls.incomeTaxPeriod.invalid && form.controls.incomeTaxPeriod.touched"></p-select>
                </div>
            </div>
        </div>
        <div *ngIf="activeIndex == 3" class="step-content">
            <div class="dialog-content">
                <div class="form-row-checkbox">
                    <p-checkbox formControlName="zusNotApplicable" [binary]="true"></p-checkbox>
                    <label for="">Nie dotyczy</label>
                </div>
                <div class="form-row-checkbox">
                    <p-checkbox formControlName="zusPayer" [binary]="true"></p-checkbox>
                    <label for="">Płatnik składek</label>
                </div>
                <div formGroupName="relief" class="form-row-zus">
                    <p-checkbox (onChange)="toggleZusGroup('relief', $event.checked)" formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Ulga</label>
                    <label for="">Data od</label>
                    <p-datepicker formControlName="validFrom" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Data do</label>
                    <p-datepicker formControlName="validTo" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Skł. społeczne</label>
                    <p-checkbox formControlName="socialContribution" [binary]="true"></p-checkbox>
                    <label for="">Skł. zdrowotne</label>
                    <p-checkbox formControlName="healthContribution" [binary]="true"></p-checkbox>
                </div>
                <div formGroupName="preferential" class="form-row-zus">
                    <p-checkbox (onChange)="toggleZusGroup('preferential', $event.checked)" formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Preferencyjny</label>
                    <label for="">Data od</label>
                    <p-datepicker formControlName="validFrom" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Data do</label>
                    <p-datepicker formControlName="validTo" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Skł. społeczne</label>
                    <p-checkbox formControlName="socialContribution" [binary]="true"></p-checkbox>
                    <label for="">Skł. zdrowotne</label>
                    <p-checkbox formControlName="healthContribution" [binary]="true"></p-checkbox>
                </div>
                <div formGroupName="full" class="form-row-zus">
                    <p-checkbox (onChange)="toggleZusGroup('full', $event.checked)" formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Pełny ZUS</label>
                    <label for="">Data od</label>
                    <p-datepicker formControlName="validFrom" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Data do</label>
                    <p-datepicker formControlName="validTo" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Skł. społeczne</label>
                    <p-checkbox formControlName="socialContribution" [binary]="true"></p-checkbox>
                    <label for="">Skł. zdrowotne</label>
                    <p-checkbox formControlName="healthContribution" [binary]="true"></p-checkbox>
                </div>
                <div formGroupName="smallPlus" class="form-row-zus">
                    <p-checkbox (onChange)="toggleZusGroup('smallPlus', $event.checked)" formControlName="enabled" [binary]="true"></p-checkbox>
                    <label for="">Mały ZUS Plus</label>
                    <label for="">Data od</label>
                    <p-datepicker formControlName="validFrom" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Data do</label>
                    <p-datepicker formControlName="validTo" appendTo="body" dateFormat="yy-mm-dd" placeholder="Wybierz datę"></p-datepicker>
                    <label for="">Skł. społeczne</label>
                    <p-checkbox formControlName="socialContribution" [binary]="true"></p-checkbox>
                    <label for="">Skł. zdrowotne</label>
                    <p-checkbox formControlName="healthContribution" [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
        <div *ngIf="activeIndex == 4" class="step-content">
            <div formGroupName="notes" class="form-row-full">
                <textarea formControlName="content" pTextarea rows="5" placeholder="Dodaj uwagi dotyczące klienta" id="notes"></textarea>
            </div>
        </div>
        <div *ngIf="activeIndex == 5" class="step-content">

        </div>
    </form>
    <div [ngClass]="{ 'single-btn': activeIndex == steps.length - 1 || activeIndex == 0 }" class="dialog-footer">
        <button pButton icon="pi pi-arrow-left" label="Wstecz" (click)="prev()" severity="info" class="back-btn" *ngIf="activeIndex > 0"></button>
        <button pButton icon="pi pi-arrow-right" label="Następna strona" (click)="next()" severity="info" *ngIf="activeIndex < steps.length - 1"></button>
        <button pButton icon="pi pi-save" label="Zapisz" (click)="save()" severity="success" *ngIf="activeIndex == steps.length - 1"></button>
    </div>
</div>

<!-- <div class="dialog-footer">
    <button pButton label="Anuluj" icon="pi pi-times" (click)="close()" severity="danger"></button>
    <button pButton label="Zapisz" icon="pi pi-save" [loading]="saving()" [disabled]="saving()" (click)="save()" severity="info"></button>
</div> -->

<p-toast key="invalid"></p-toast>