<aside class="sidebar" [class.collapsed]="collapsed()">
    <div class="sidebar-header">
        @if(!collapsed()) {
            <img src="./logo.png" alt="Hive" class="logo">
        }

        <button type="button" class="collapse-button" (click)="toggleSidebar()">
            <i class="pi" [class.pi-angle-left]="!collapsed()" [class.pi-angle-right]="collapsed()"></i>
        </button>
    </div>
    <nav class="sidebar-nav">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
            <i class="pi pi-home" pTooltip="Lista klientów"></i>
            @if(!collapsed()) {
                <span>Lista klientów</span>
            }
        </a>
        <a routerLink="/invoicing" routerLinkActive="active" class="nav-item">
            <i class="pi pi-file-edit" pTooltip="Fakturowanie usług"></i>
            @if(!collapsed()) {
                <span>Fakturowanie usług</span>
            }
        </a>
        <a routerLink="/prints" routerLinkActive="active" class="nav-item">
            <i class="pi pi-print" pTooltip="Druki"></i>
            @if(!collapsed()) {
                <span>Druki</span>
            }
        </a>
        <a routerLink="/declarations" routerLinkActive="active" class="nav-item">
            <i class="pi pi-file-check" pTooltip="Deklaracje"></i>
            @if(!collapsed()) {
                <span>Deklaracje</span>
            }
        </a>
        <a routerLink="/reports" routerLinkActive="active" class="nav-item">
            <i class="pi pi-file-excel" pTooltip="Raporty"></i>
            @if(!collapsed()) {
                <span>Raporty</span>
            }
        </a>
    </nav>
</aside>