/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@use './styles/variables';
@use './styles/mixins';
@use './styles/primeng';
@use './styles/globals';

@import 'primeicons/primeicons.css';


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Inter, Roboto, sans-serif;
}

* {
    box-sizing: border-box;
}